@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat';

}

body,h1,h2 {

    margin: 0px;
    padding: 0px;
}

body {
    min-width: fit-content;
}
name-text {
    font-size: 17;
    color: #7c7c7c;
    font-weight: bold;
}

.mainbox {
    width: 610px;
    padding: 30px;
    margin: 30px;
    
    margin-left: auto;
    margin-right: auto;

    border-style: outset;
    border: 1px solid #ebebeb;

    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
    /* 0은 x축으로 뻗어나가는 그라데이션? 음수면 왼쪽 양수면 오른쪽
    0은 y축으로 뻗어나가는 그라데이션? 음수면 왼쪽 양수면 오른쪽
    흐림정도 블러 
    그림자의 퍼짐도 스프레드
    */
}

footer {
    text-align: center;
    background-color:#1e1e1e;
    padding: 20px;
    font-size: 12px;
    color: #919191;
}

.big-font {
    font-size: 40px;
}

.small-font {
    font-size: 15px;
}