<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
</head>
<body>
    <h1>Landing page</h1>
    <ul>
        <li>
            <a href="/django_exercise02/mail">mail</a>
        </li>
        <li>
            <a href="/django_exercise02/cafe">cafe</a>
        </li>
        <li>
            <a href="/django_exercise02/blog">blog</a>
        </li>
        <li>
            <a href="/django_exercise02/shop">shop</a>
        </li>  
    </ul>
    
    
</body>
</html>