body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drawer-container {

    display: flex;
    justify-content:center;
    
    align-items:center;
    flex-direction: column;
    /* position: relative; */
    width: 30vw;
    height: 93vh;
    background-color: brown;
    box-sizing: border-box;
}

.drawer-item {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
    width: 27vw;
    height: 27vh;
    background-color: burlywood;
    box-sizing: border-box;
}

.drawer-handle {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    width: 3vh;
    height: 3vh;
    box-sizing: border-box;
}