.container {
    font-family: 'Roboto Mono', monospace;
    padding: 20px;
    width: 80vw;
    margin: 0px auto;
    color: #1b1b1b;
    background-color: #f4f4f4;
}

.python-keyword {
    color: dodgerblue;
}

.python-builtin {
    color: lightseagreen;
}

.code-body {
    text-align: left;
}