<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Quiz 1</title>
    <!-- <link rel="stylesheet" href="flex-quiz-1.css"> -->
    <style>
        #container {
            width: 750px;
            height: 50px;
        }

        .item {
            width: 93.75px;
            height: 100%;
            border: 0.5px solid lightgrey;
        }
        * {
            border: 0.5px dashed red;
        }
        p {
        /*     
            display:flex;
            justify-content: center;
            align-items: center; */
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="container">
        <div class="item"><p>엔터</p></div>
        <div class="item"><p>스포츠</p></div>
        <div class="item"><p>웹툰</p></div>
        <div class="item"><p>자동차</p></div>
        <div class="item"><p>경제M</p></div>
        <div class="item"><p>추천 구독</p></div>
        <div class="item"><p>레시피</p></div>
        <div class="item"><p>책방</p></div>
    </div>
</body>
</html>